.dashboard {
  background-color: $clr-very-dark-blue;
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;

  &__grid {
    grid-area: 1/2;
    display: grid;
    gap: 2rem;
    padding: 5rem 0;

    @include breakpoint(medium) {
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }
    
    @include breakpoint(large) {
      grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    }
  }
}

