// Colors

// Main Colors

// Primary Colors
$clr-primary-color-election-night: #110320;
$clr-primary-color-fading-horizon: #442266;
$clr-primary-color-iris-royale: #591b98;

// Secondary Colors
$clr-secondary-color-neon-spring: #3ffd6a;

// Tertiary Colors
$clr-tertiary-color-star-dust: #f9f3dd;
$clr-tertiary-color-crackled: #f2e7d1;

// Shadows

// Gradients

// Neutrals
$clr-white: #ffffff;
$clr-black: #000000;

// Specific Colors
$clr-background: #ffffff;
